In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import hashlib
import matplotlib.pyplot as plt
import warnings 
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("SalesData.csv", encoding='latin-1')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   OrderID            9994 non-null   object
 1   Order Date         9994 non-null   object
 2   Ship Date          9994 non-null   object
 3   Ship Mode          9994 non-null   object
 4   CustomerID         9994 non-null   object
 5   Customer Name      9994 non-null   object
 6   Segment            9994 non-null   object
 7   Country            9994 non-null   object
 8   City               9994 non-null   object
 9   State              9994 non-null   object
 10  Postal Code        9994 non-null   int64
 11  Region             9994 non-null   object
 12  ProductID          9994 non-null   object
 13  Category           9994 non-null   object
 14  Sub-Category       9994 non-null   object
 15  Product Name       9994 non-null   object
 16  Sales              9994 non-null   float64
 17  Quantity           9994 non-null   int64
 18  Discount           9994 non-null   float64
 19  Profit             9994 non-null   float64
 20  CategoryID         9994 non-null   int64
 21  AddressID          9994 non-null   int64
 22  UnitPrice          9994 non-null   float64
 23  BuyPrice           9994 non-null   float64
 24  OrderID_ProductID  9994 non-null   object
dtypes: float64(5), int64(4), object(16)
memory usage: 1.9+ MB

In [4]:
print(df.isna().sum())

OrderID              0
Order Date           0
Ship Date            0
Ship Mode            0
CustomerID           0
Customer Name        0
Segment              0
Country              0
City                 0
State                0
Postal Code          0
Region               0
ProductID            0
Category             0
Sub-Category         0
Product Name         0
Sales                0
Quantity             0
Discount             0
Profit               0
CategoryID           0
AddressID            0
UnitPrice            0
BuyPrice             0
OrderID_ProductID    0
dtype: int64

In [5]:
df.head(5)

,OrderID,Order Date,Ship Date,Ship Mode,CustomerID,Customer Name,Segment,Country,City,State,...,Product Name,Sales,Quantity,Discount,Profit,CategoryID,AddressID,UnitPrice,BuyPrice,OrderID_ProductID
0,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,1,1,130.98,89.0664,CA-2016-152156 FUR-BO-10001798
1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,1,2,243.98,24.3980,CA-2016-152156 FUR-CH-10000454
2,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,...,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,2,3,7.31,0.4386,CA-2016-138688 OFF-LA-10000240
3,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,1,4,348.21,731.2410,US-2015-108966 FUR-TA-10000577
4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,2,5,13.98,11.4636,US-2015-108966 OFF-ST-10000760